.header {
  display: flex;
  align-items: center;
  gap: 12px;

  background-color: #cc0b04;
  padding: 16px 24px;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  height: 40px;
  width: auto;
}

.title {
  margin: 0;
  font-size: 28px;
  font-weight: 700;
  color: #ffffff;
  -webkit-text-stroke: 1px black;
}
