<div *ngIf="pokemon; else loading" class="details-card">
  <h2>{{ pokemon.name | uppercase }}</h2>

  <img
    [src]="pokemon.sprites.front_default"
    alt="{{ pokemon.name }}"
  />

  <div class="info">
    <p><strong>Altura:</strong> {{ pokemon.height }}</p>
    <p><strong>Peso:</strong> {{ pokemon.weight }}</p>
  </div>

  <h3>Tipos</h3>
  <ul class="types">
    <li
      *ngFor="let t of pokemon.types"
      [ngClass]="t.type.name"
    >
      {{ t.type.name }}
    </li>
  </ul>


  <a class="back" routerLink="/">← Voltar</a>
</div>

<ng-template #loading>
  <p class="loading">Carregando Pokémon...</p>
</ng-template>
