* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #d4d4d4;
  color: #1f2937;
}

a {
  color: inherit;
}
